In [2]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
import os, sys
import pandas as pd
import PIL.Image
import scipy.io

root = '/usr/local/serenceslab/maggie/shapeDim/'

sys.path.append(os.path.join(root, 'Analysis'))
from code_utils import file_utils, data_utils, plot_utils

In [32]:
subjects = np.arange(1,8)
rois = ['V1','V2','V3','V3AB','hV4','IPS0','IPS1','IPS2','IPS3','LO1','LO2'];
n_rois = len(rois)
hemis = ['lh', 'rh']
rois_full = np.concatenate([['%s_%s'%(rr,hh) for hh in hemis] for rr in rois])
n_subjects = len(subjects)

raw_all = np.zeros((n_subjects, len(rois_full)))
thresh_all = np.zeros((n_subjects, len(rois_full)))

thresh_sum = np.zeros((n_subjects, len(rois)))

for si, ss in enumerate(subjects):

    # load this file, made by get_roi_sizes.m
    roi_size_file = os.path.join(root, 'Samples', 'S%02d_roi_sizes.mat'%ss)

    r = scipy.io.loadmat(roi_size_file)
    roi_sizes_raw = r['roi_sizes_raw']
    roi_sizes_thresh = r['roi_sizes_thresh']

    raw_all[si,:] = roi_sizes_raw.ravel()
    thresh_all[si,:] = roi_sizes_thresh.ravel()
    
    thresh_sum[si,:] = np.sum(roi_sizes_thresh, axis=1)

#### checking that these sizes match sizes of ROIs in the preprocessed data

In [39]:
for si, ss in enumerate(subjects):
    
    rep_data, _, rep_labels, roi_names = data_utils.load_repeat_task_data(ss, make_time_resolved = False)

    sizes = [rep_data[ri].shape[1] for ri in range(n_rois)]
    assert(np.all(sizes==thresh_sum[si,:]))

print('check successful')

missing voxel_inds for IPS2 lh
check successful

#### Final sizes (after thresholding and removing overlap)

In [40]:
thresh_df = pd.DataFrame(thresh_sum.astype(int).T, index=rois, columns=subjects)
thresh_df

         1     2     3     4     5     6     7
V1    1866  1956  2216  2464  2156  2373  1520
V2    1236  1834  1866  1584  1424  1570  1098
V3    1109  1929  1200  1548  1430  1228  1710
V3AB  1013  1964   517   708   812  1256  1171
hV4    277   641   484  1080   578   572   636
IPS0   476   640   182   548   537   478   622
IPS1   182   244    64   283   136   266   528
IPS2    85   107     5   189   211   325   332
IPS3   271   230    38   176   201   388   282
LO1    369   331   462   465   352   465   768
LO2    152   322   492   304   230   320   420

In [27]:
thresh_df = pd.DataFrame(thresh_all.astype(int).T, index=rois_full, columns=subjects)
thresh_df

            1     2     3     4     5     6    7
V1_lh     734   921   941  1155  1061  1285  746
V1_rh    1132  1035  1275  1309  1095  1088  774
V2_lh     588  1014   908   756   707   689  541
V2_rh     648   820   958   828   717   881  557
V3_lh     600   955   575   746   751   624  887
V3_rh     509   974   625   802   679   604  823
V3AB_lh   492   794   267   331   400   609  498
V3AB_rh   521  1170   250   377   412   647  673
hV4_lh    152   357   210   518   243   231  346
hV4_rh    125   284   274   562   335   341  290
IPS0_lh   242   261    96   193   236   288  268
IPS0_rh   234   379    86   355   301   190  354
IPS1_lh    15   124    36   123    89    99  228
IPS1_rh   167   120    28   160    47   167  300
IPS2_lh    54    27     0    29    99   169  122
IPS2_rh    31    80     5   160   112   156  210
IPS3_lh   256    94    36    21    75   231  142
IPS3_rh    15   136     2   155   126   157  140
LO1_lh    260   135   230   236   184   216  381
LO1_rh    109   196   232   229   168   249  387
LO2_lh     37   189   223   155    88   140  225
LO2_rh    115   133   269   149   142   180  195

#### Raw sizes

In [28]:
raw_df = pd.DataFrame(raw_all.astype(int).T, index=rois_full, columns=subjects)
raw_df

            1     2     3     4     5     6     7
V1_lh    1007  1041  1222  1479  1654  1634  1195
V1_rh    1414  1263  1496  1706  1383  1297  1207
V2_lh     901  1386  1316  1389  1037  1111   998
V2_rh     950  1189  1362  1274  1014  1270  1226
V3_lh     872  1428   931  1133  1001   960  1413
V3_rh     661  1447   918  1245   880   938  1337
V3AB_lh   804  1065   474   556   664   699   755
V3AB_rh   689  1466   651   618   670  1138   996
hV4_lh    168   460   330   550   266   310   403
hV4_rh    133   310   306   590   363   541   390
IPS0_lh   670   562   299   384   457   478   431
IPS0_rh   365   618   442   495   563   369   544
IPS1_lh   380   369   428   228   511   191   417
IPS1_rh   318   264   283   307   490   379   426
IPS2_lh   444   209   235   193   557   242   188
IPS2_rh   418   229   305   361   501   251   447
IPS3_lh   415   224   302   443   288   308   258
IPS3_rh   306   288   252   295   394   337   295
LO1_lh    367   170   310   267   218   252   429
LO1_rh    139   240   296   278   209   298   430
LO2_lh    172   217   471   167   121   160   259
LO2_rh    141   175   423   194   190   248   223